<html>
<body>
  <meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div id="app">
	<p>输入框的数据和data数据双向绑定 v-model</p>
	<input type="text" v-model="msg"/>
	<!-- 三元表达式 为空字符串时取给定的值 -->
	1.{{msg?msg:"hello"}}<br/>
	<!-- 一次绑定 页面加载后不再改变 -->
	<p v-once>2.{{msg}}</p>
	<p v-html>3.{{msg}}</p>
	4.{{ha.name}}
	<hr>
	5.<input type="number" v-model="price"/>
	{{sum}}
	<!-- sum方法返回price+10 -->
	<hr>
	6.{{msg}}<br/>
	7.<template v-if="true">
		true
	</template><!-- v-else要跟在v-if后面 template不会被旋绕出来-->
	<div v-else>false</div>
	<hr>
	<template v-for="(key,val,index) in message">
		{{ index }}:{{val}}=={{key}}<br/>
	</template>
	8<br>
	<!--<template v-for="(key,val) in goods">
		<div v-for="a in val.type">
			{{key}}{{a}}
		</div>
	</template>-->
	<!-- v-bind 避免404错误 v-bind可以省略-->
	<!-- v-on: 可以用@替代 绑定方法 传参时要手动加上事件源  -->
	<img :src="src" @click="add(this, $event)" class="pointer"/>
	<a v-bind:href="href" target="_blank">查看Vue文档</a>
	<a href="http://www.baidu.com" @click.prevent>阻止默认事件</a>
	<input type="text" @keyup.13="keyup" value="keyup方法">
	
	<template v-for="(key,val,index) in message.list">
		<br/>{{ index }}:{{val.name}}=={{key}}
	</template>
	<div :style="[true?style1:style2]">三元表达式判断绑定样式</div><hr>
	<div :style="[style1, style2]">
		样式绑定{{info.toUpperCase()}} == {{info.toLowerCase()}} 大小写转换
	</div>
	<!-- <div v-bind:class="[class1,isTrue?'class2':'class3']">三元表达式判断</div> -->
	<select>
		<option :value='select.age' v-for='select in selects'>{{select.name}}</option>
	</select>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<button type="button" onclick="updateVM()">HHHH</button>
<style>
	.pointer{
		cursor:pointer;
	}
</style>
<script>
var mess = {
	name : "zhangyuan",
	age : 123
};
var vm = new Vue({
	el:"#app",
	data:{
		select : 0,
		selects: [
			{name:'zhangyuan',age:13},
			{name:'milo',age:33},
			{name:'jey',age:28}
		],
		style1:{background:'pink'},
		style2:{fontSize:'50px'},
		msg:'<h1>头部</h1>',
		price: 100,
		ha:mess, // 对象
		message :{
			list : {
				arr1:{name:'数组1'},
				arr2:{name:'数组2'}
			},
			name : "zhangyuan",
			age : 123
		},
		info:'lalalala',
		goods:[
			{name:'apple',price:40,type:['white1','black2']},
			{name:'oragle',price:50,type:['gray3','pink4']},
		],
		src: "http://www.maiziedu.com/images/index/logo_greenx2.png",
		href: "https://wakeupmypig.github.io/jw_blog/html/Vue.js/Vue方法篇2.html"
	},
	methods:{
		add: function (e, event){
			alert(new Date())
			//$(e).removeClass("pointer");
			//$(this).siblings().removeClass("enable");
		},
		keyup: function (){
			alert("key up method");
		}
	},
	computed:{
		sum: function () {
			return this.price * 0.1;
		}
	}
})
//alert(vm.$el);//[object HTMLDivElement] id为app的div对象
// vm.$data 就是vm里data对应的对象
//alert(vm.$data.info); lalalala
// 监听数据变化
vm.$watch('msg', function(newVal, oldVal){
	console.log(newVal, oldVal);
})


function updateVM(){
	vm.$data.msg= 123131321;
}

</script>


</body>
</html>